@import "./variables";

@if $vista==mobile {

    @media only screen and (min-width: 314px) and (max-width: 768px) {

        .carousel-inner{

            .carousel-item {
                position: relative !important;

                #carouselh-1{
                    visibility: visible !important;
                    width: 100%;
                    height: auto;
                }
                #carousel-1{
                    visibility: hidden;
                    width: 0%;
                    height: 0%;
                }
                #carouselh-2{
                    visibility: visible !important;
                    width: 100%;
                    height: auto;
                }
                #carousel-2{
                    visibility: hidden;
                    width: 0%;
                    height: 0%;
                }
                #carouselh-3{
                    visibility: visible !important;
                    width: 100%;
                    height: auto;
                }
                #carousel-3{
                    visibility: hidden;
                    width: 0%;
                    height: 0%;
                }
                
               
                .carousel-caption {
                    // background: transparent !important;
                    margin: 0%;
                    padding: 10px;
        
                    h5 {
                        font-weight: normal;
                        font-size: 10px;
                    }
                }

            }
        }

        .row{
    
            div{
    
        
                h1{
                    color: rgb(68, 5, 5);
                    font-size: 25px !important;
                }
        
                h2{
                    @include subtitulos;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        #encabezado {
            h1{
                font-size: 30px !important;
            }
        }

        .carousel-indicators {
            font-size: xx-small;
        }

        #col-about {
            padding-left: 0px !important;
            margin-left: 0px !important;
        }

        #about {
            text-align: center;
            padding-left: 0px !important;
            margin-left: 0px !important;

            img {
                visibility: hidden !important;
                display: none;
            }

            h3 {
                text-align: center;
            }

            p {
                font-size: 15px;
                text-align: center;
            }
        }

        #opt-domicilio {
            div {
                i {
                    margin-top: auto !important;
                    padding-top: 38px !important;
                }
            }
        }

        #footer-text {
            font-family: "Roboto", sans-serif;
            font-size: 9px !important;
            text-align: center;

            h2 {
                font-family: "Roboto", sans-serif;
                font-size: 8px !important;
                text-align: left;
            }
        }


        #footer-title {
            h1 {
                font-size: 11px !important;
                text-align: center;
                color: rgb(123, 78, 78) !important;
            }

            p {
                font-family: "Roboto", sans-serif;
                font-size: 8px !important;
                text-align: left;
            }

            ul {

                padding-left: 0%;

                li {
                    i {
                        font-size: 10px;
                    }
                }
            }
        }

        #footer-contact {
            font-style: normal !important;
            font-size: 7px;
        }

        #footer-pages {
            font-size: 7px;
            @include links;
            text-align: center;
        }


        #networks {
            div {
                a {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                    margin-left: 0px !important;
                    margin-right: 0px !important;

                    i {
                        font-size: 10px;
                    }
                }
            }
        }
    }

}