@import "./variables";

@if $vista==mobile {

    @media only screen and (min-width: 340px) and (max-width: 768px) {

        #col-about {
            padding-left: 0px !important;
            margin-left: 0px !important;
        }

        #about {
            text-align: center;
            padding-left: 0px !important;
            margin-left: 0px !important;

            img {
                visibility: hidden !important;
                display: none;
            }

            h3 {
                text-align: center;
            }

            p {
                font-size: 15px;
                text-align: center;
            }
        }

        #opt-domicilio {
            div {
                i {
                    margin-top: auto !important;
                    padding-top: 38px !important;
                }
            }
        }

        #footer-text {
            font-family: "Roboto", sans-serif;
            font-size: 9px !important;
            text-align: center;

            h2 {
                font-family: "Roboto", sans-serif;
                font-size: 8px !important;
                text-align: left;
            }
        }


        #footer-title {
            h1 {
                font-size: 11px !important;
                text-align: center;
                color: rgb(123, 78, 78) !important;
            }

            p {
                font-family: "Roboto", sans-serif;
                font-size: 8px !important;
                text-align: left;
            }

            ul {
                li {
                    i {
                        font-size: 10px;
                    }
                }
            }
        }

        #footer-contact {
            font-style: normal !important;
            font-size: 7px;
        }

        #footer-pages {
            font-size: 7px;
            @include links;
            text-align: center;
        }


        #networks {
            div {
                a {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                    margin-left: 0px !important;
                    margin-right: 0px !important;

                    i {
                        font-size: 10px;
                    }
                }
            }
        }
    }

}

@else if $vista==mobile {

    @media only screen and (min-width: 820px) {

        .navbar-toggler {
            visibility:visible;
        }

        #menu {
            visibility: collapse;
        }

    }

}