@import "./variables";

footer {

        #footer-text {

            h2 {
                @include textos;
                text-align: center;
            }
        }

        #footer-title {

            h1 {
                @include textos;
                font-size: 19px;
                text-align: center;
                color: rgb(123, 78, 78);
            }
        }

        #footer-contact {
            @include links;
            margin-left: 2px;
            padding-left: 2px;
        }

        #footer-pages {
            @include links;

            &:hover {
                color: rgb(123, 78, 78);
            }
        }

}