@import "./variables";

* {
    margin: 0;
    padding: 0;
}

body {
    @include textos;
    align-content: center !important;
    align-items: center !important;

        nav {
            position:fixed;
            z-index: 100;
            margin: 0%;
            padding: 0%;

            #contenedor {

                @include box-father;

                #icon-localizar {
                    background-image: url(../assets/icons/stores.svg);
                    @include iconos;

                    #link-localizar {
                        @include links;
                    }

                }
            }

        }

}