@import "./variables";

* {
    margin: 0;
    padding: 0;
}

body {
    @include textos;

    #icon-localizar {
        background-image: url(../assets/icons/stores.svg);
        @include iconos;

        #link-localizar {
        @include links;
        }

      }                                             
  }