./node_modules
!node_modules/
node_modules/*
!node_modules/node-dht-sensor-chip/
node_modules/*
node_modules/*
!node_modules/node-dht-sensor-chip/
!node-dht-sensor-chip/
!node_modules/node-dht-sensor-chip/
!node-dht-sensor-chip/*
!*node-dht-sensor-chip/