@import "../variables";


.carousel-item{
    video{
        width: 100%;
    }
}

#encabezado {
    background-image: url(../assets/images/fondo.png);
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

#separador {
    background-image: url(../assets/images/fondo.png);
}

.titulos {
    @include titulos;
    color: rgb(255, 255, 255);
}

.subtitulos {
    @include subtitulos;
    font-size: 18px;
}

#servicios {
    @include transition;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;

    &:hover {
        @include transform;
    }
}

#descripcion {
    border-color: rgb(56, 4, 4) !important;
    @include parrafos;
}

