@import "../variables";


#encabezado {
    background-image: url(../assets/images/fondo.png);
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

#separador {
    background-image: url(../assets/images/fondo.png);
}

.titulos {
    @include titulos;
    color: rgb(255, 255, 255);
}

.subtitulos {
    @include subtitulos;
    font-size: 18px;
}

#producto {
    @include transition;

    &:hover {
        @include transform;
    }
}

#descripcion {
    border-color: rgb(56, 4, 4) !important;
    @include parrafos;
}

